body {  
	behavior: url("includes/csshover.htc");
	}

div#dropMenu li a:hover, div#dropMenu li.submenu li.submenu:hover {}

	
#dropMenuWrapper {
	width:100%;
	margin:0;
	}
	
div#dropMenu {
	z-index:2;
	position:relative;
	}

div#dropMenu ul {
	margin: 0; 
	padding: 0;
	}
	
div#dropMenu li {
	position: relative; 
	list-style: none; 
	margin: 0; 
	float: left; 
	line-height: 1em;
	}
	
div#dropMenu ul.level1 {}
	
div#dropMenu li:hover {}
div#dropMenu li.submenu {}
div#dropMenu li.submenu:hover {}
div#dropMenu li a {display: block;} 
div#dropMenu>ul a {width: auto;}
div#dropMenu ul ul {position: absolute; display: none;}
div#dropMenu ul ul li {}
div#dropMenu li.submenu li.submenu {}
div#dropMenu ul.level1 li.submenu:hover ul.level2, 
div#dropMenu ul.level2 li.submenu:hover ul.level3,
div#dropMenu ul.level3 li.submenu:hover ul.level4,
div#dropMenu ul.level4 li.submenu:hover ul.level5 {display:block;z-index:2;}
div#dropMenu ul.level2 {top:45px; left:1px; z-index:2;}
div#dropMenu ul.level3, div#dropMenu ul.level4, div#dropMenu ul.level5 {top: 0; left: 13em;}
div#dropMenu ul.level2 a {padding: 0; text-transform:none;}  /* this is text color on drop-down submenu */
div#dropMenu ul.level2 a:hover {}

div#dropMenu>ul.level1{}
div#dropMenu>ul.level1>li{}
div#dropMenu>ul.level1>li>a{
	color:#fcfcfc;
	font-size:14px;
	line-height:15px;
	font-weihgt:bold;
	text-decoration:none;
	font-weight:bold;
	text-transform:uppercase;
	display:block;
	padding:15px 18px 15px 19px;
	background:url("../images/cat-line.gif") no-repeat left top;

}
div#dropMenu>ul.level1>li.first>a{
	background:none;
	padding:15px 20px 15px 15px;
}
div#dropMenu>ul.level1>li.submenu>a{
	padding-right:23px;
} 
div#dropMenu>ul.level1>li>a:hover{
	color:#e68d01;
}
div#dropMenu ul.level1 li.submenu > a:hover, 
div#dropMenu ul.level1 li.submenu:hover > a{
	color:#e68d01;
}
div#dropMenu ul.level2{
	min-width:185px;
	border-top:1px solid #2a2524;
}
div#dropMenu ul.level2 li{
	min-width:185px;
	overflow:hidden;
	background:#373231;
	border:1px solid #2a2524;
	border-top:none;
	padding-left:10px;
}
div#dropMenu ul.level2 li a{
	display:block;
	color:#8c7874;
	font-size:11px;
	line-height:28px;
	text-transform:uppercase;
	text-decoration:none;
	background:url("../images/marker1.gif") no-repeat left 11px;
	padding:0 0 0 11px;
}
div#dropMenu ul.level2 li a:hover{
	color:#fff;
	background:url("../images/marker1-act.gif") no-repeat left 11px;
}